<%= javascript_include_tag Ckeditor.cdn_url %>

<%= form_for @post, html: { multipart: true } do |f| %>
  <% if @post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved:</h2>
      <ul>
      <% @post.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    <%= f.label :카테고리 %><br>
    <%= f.select :category_id, options_from_collection_for_select(@categories, "id", "name") %>
  </div>
  <br>
  <div class="field">
    <%= f.label :제목 %><br>
    <%= f.text_field :title, placeholder: "제목을 입력해주세요" %>
  </div>
  <div class="field">
    <%= f.label :요약 %><br>
    <%= f.text_field :summary, placeholder: "내용 요약: 출처, 작성자, 날짜 등" %>
  </div>  
  <div class="field">
    <%= f.label :내용 %><br>
    <%= f.cktext_area :content, :class => 'ckeditor' %>
  </div>
  <div class="field">
    <%= f.label :Tags %><br>
    <%= f.text_field :tag_list, placeholder: "쉼표(콤마)로 구분" %>
  </div>
  <br>
  <div class="field"> 
    <%= f.label :이미지 %><br>
    <%= f.file_field :image %>
  </div>
  <br>
    <div class="field"> 
    <%= f.label :파일 %><br>
    <%= f.file_field :files %>
  </div>
  <br>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
